.hidden {
    display: inline-block;
}

.shown {
    display: none;
}

h1 {
    font-size: 1.6rem;
}

.button {
    border: none;
    color: #557c3e
}

.collapsable-navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    font-size: 1.2rem;
}

.jumbotron img {
    width: 600px;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 1em 0;
}

.map-tile {
    width: 600px;
}

.footer-card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 5vw;
}

.footer-devider {
    display: none;
}

/* Menu */
.menu-main {
    margin: 0;
}

.menu-item-img {
    display: block;
}

.menu-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

h3 {
    grid-column: 1 / -1;
    padding: 1em 0;
}

 /* .menu-item-img {
    width: 30vw;
} */
/*
.menu-item-label {
}*/

.menu-item-card {
    width: 100%;
    border: none;
}

.menu-item-heading,.menu-item-description,.item-price {
    /* align-items: center; */
    margin:0;
    padding:0;
}


/* .item-price>.menu-sub-text {
    font-size: 5rem;
} */